main{
    text-align: center;
}
.library-banner {
    justify-content: center;
    background: #7ed957;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
    margin-top: 40px;
    
}


.library-books {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.book-list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: nowrap;
}

.book-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    padding: 30px;
    margin: 20px;
    text-align: center;
}
.book-item p{
    font-weight: bold;
}
.book-item img {
    width: 208px;
    height: 274px;
    margin: 30px;
    
    height: auto;
    border-radius: 8px;
}

